.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment {
    margin-bottom: 10px;
}

.commentForm {
    margin-top: 10px;
}

.commentBlock{
}

.cardComment,
.cardComment > .MuiCardContent-root:last-child,
.cardComment > .MuiCardContent-root
{
    padding-bottom: 0 !important;
}

/*-----------------------------------------*/


