.post {
    border: 1px solid #dddddd;
    padding: 16px;
    margin: 16px 0;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
    font-size: 24px;
    color: #333;
}

.post img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 16px 0;
}
 
.post p {
    margin: 8px 0;
    color: #666;
}

.post button {
    margin-top: 8px;
    padding: 1px 16px;
    border: none;
    border-radius: 44px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 8px;
}

.post button:hover {
    background-color: #0056b3;
    
}

.accordion {
    margin-top: 16px;
    padding: 16px;
    border-top: 1px solid #ddd;
    background-color: #929292;
    margin: 44px;
    border-radius: 20px;
}

.comment {
    margin-bottom: 16px;
}

.comment p {
    margin: 4px 0;
    color: #555;
}

.postDetails {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}

.postDetails p {
    margin: 0 8px;
    color: #666;
}