.post {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #00000018;
    transition: background-color 0.4s ease;
    position: relative; /* Aggiunto per consentire il posizionamento assoluto */
}

.post:hover {
    background-color: #100a2175;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
}

.postDetails {
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    color: #5d5252;
    margin: 10px 0;
}

.date {
    position: absolute;
    top: 15px; /* Stessa distanza del bottone blu */
    right: 15px; /* Stessa distanza del bottone blu */
}

.likes {
    position: absolute;
    bottom: 60px;
    left: 15px; /* Stessa distanza del bottone blu */
}

.like-button {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.comments {
    position: absolute;
    bottom: 60px;
    right: 15px; /* Stessa distanza del bottone blu */
}

.comment-buttons {
    position: absolute;
    bottom: 10px;
    right: 15px;
    
}

.accordion {
    background-color: #00000018;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
}

.comment {
    margin-bottom: 10px;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.buttonGroup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.postDetails p {
    margin: 0 8px;
    color: #666;
}

.avatar, .commentAvatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.author {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.authorName {
    font-weight: bold;
}