.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.453);
    position: sticky;
    top: 0;
    z-index: 100;
}


.button__container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navLinks {
    list-style-type: none;
    display: flex;
    gap: 15px;
}

.loginButton {
    text-decoration: none;
    padding: 0.5rem 1rem;
    background-color: var(--primary-color);
    color: var(--text-on-primary);
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.loginButton:hover {
    background-color: var(--primary-hover-color);
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

button {
    background: none;
    border: none;
    color: var(--icon-color);
    font-size: 1.25rem;
    cursor: pointer;
    transition: color 0.3s ease;
}

button:hover {
    color: var(--icon-hover);
}
