#root {
  width:100%;
  position: fixed;
  height:100%;
  color: white;
}

.card {
  padding: 2em;
  background-color: var(--secondary-background);
  min-width:300px;
  border-radius: 8px;
  box-shadow: 1px 1px 8px -3px rgba(0, 0, 0, 0.5);
}

.logo {
  max-width:300px;
}

.read-the-docs {
  color: #888;
}

.modal__buttons {
  margin-top:20px;
  display: flex;
  gap: 5px;
  justify-content: flex-end;
}

.button {
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}
.confirm__button{
  background-color: #6cb444;
  color:#ffffff;
}

.delete__button {
  background-color: #e34646;
  color:#ffffff;
  transition:all .3s ease-in-out;
}


