:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --background-color: #292929;
    --text-color: rgba(255, 255, 255, 0.87);
    --input-background: var(--background-color);
    --secondary-background: rgba(43, 58, 73, 0);
    --secondary-background-rgb: 43, 58, 73;
    --todo-item-background: #223244;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--background-color);
}
* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #0078d7;
    text-decoration: inherit;
}

a:hover {
    color: #0078d7;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    height:100vh;
    background-color: #292929;
}

input, textarea {
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #3b3b3b;
    color: #fff;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    margin-top: 5px;
    padding: 8px 10px; /* Spazio interno */
    resize: none; /* Blocca il ridimensionamento */
    transition: border-color 0.3s ease-in-out;
}

textarea:focus,
input[type="text"]:focus {
    border-color: #0078d7;
    box-shadow: 0 0 5px rgba(0, 120, 215, 0.5);
}


h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: all 0.25s;
}

button:hover {
    filter: brightness(1.25) saturate(80%);;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}