:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
    --dark-background-color: #ffffff;
    --dark-text-color: #333333;
    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--text-color);
    background-color: var(--background-color);
    --input-background: var(--background-color);

    --secondary-background: #2b3a49;
    --secondary-background-rgb: 43, 58, 73;
    --todo-item-background: #223244

}
* {
    box-sizing: border-box;
}

a {
    font-weight: 500;
    color: #0078d7;
    text-decoration: inherit;
}

a:hover {
    color: #0078d7;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    height:100vh
    var(--secondary-background)
}

input, textarea {
    color: var(--text-color);
    background-color: var(--input-background);
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: all 0.25s;
}

button:hover {
    filter: brightness(1.25) saturate(80%);;
}

button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button {
        background-color: #f9f9f9;
    }
}


[data-theme='light'] {
    --background-color: #a8d3f9;
    --text-color: #333333;
    --input-background: #e5e6e9;
    --todo-item-background:  #a8d3f9;
    --secondary-background: #a8d3f9;
    --secondary-background-rgb: 255,255,255;


}