.registrationLink {
    display:flex;
    justify-content: space-between;
}

.resetPasswordLink {
    display:flex;
    justify-content: space-between;
}

.loginButton {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: block;
    width: 100%;

}
